/*----------------
 google font  
 ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter&family=Lobster&family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-items: center;

}

/*----------------
 top section style
 ----------------- */

.top-section {
    width: 1321px;
    height: 646px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: black;
    border-radius: 38px;
    margin: 50px 140px;
}


.section {
    width: 531px;
    height: 424px;
    /* margin-top: 111px;
    margin-bottom: 111px; */
}


.top-h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    margin: 0%;
    color: #FFFFFF;
}

.top-p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.top-p2 {
    margin-bottom: 30px;
}

.w-live {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    gap: 10px;
    color: #FFFFFF;
}

.sala img {
    width: 581px;
    height: 613px;
    /* margin-top: 33px; */
}

/*---------------
 midel section style 
 ------------------*/
.midel-section {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 140px;
    margin-right: 140px;
    justify-content: space-around;
}


.midels {
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    /* margin-left: -18px; */
}

.midel button {

    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
}

button a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #161616;
}

.blog button {
    background-color: #DD0000;
}

.blog button a {
    color: #FFFFFF;
}

/* players style */
.players {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.player {
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    background-color: #FFFFFF;
}



.player-img img {
    /* width: 100%; */
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;

}

.button-1 {
    padding: 4px 17px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.player-h2 {
    margin: 0%;
    font-size: 18px;
    margin-left: 20px;
}

.p-icon {
    width: 143px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*------------------------
footer section style
 ------------------------- */
footer {
    background-color: #161616;
    width: 1600px;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 0px;
}

.goal-h1 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
    height: 0px;
}

.link {
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

.link a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
}

.footer-icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.footer-icon i {
    margin-left: 10px;
}

.footer-icon a {
    color: #FFFFFF;
}

/* ------------------------------------
                index-2 styl
--------------------------------------- */

/*----------- button style--------- */
.bolg2 button {
    background-color: #DD0000;
}

.bolg2 a {
    color: #FFFFFF;
}

.blog3 button {
    background-color: #FFFFFF;
}

.blog3 button a {
    color: #161616;
}

/* -------flag style------- */
.flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.flag {
    border: 2px solid #E8E8E8;
    padding: 53px 30px;
    border-radius: 10px;
}

.flag-img {
    display: flex;
    gap: 22px;
}